# deps
node_modules/
.pnpm-store/

# builds
.next/
dist/
out/
build/

# typescript / next generados
*.tsbuildinfo
next-env.d.ts

# env
.env
.env.local
.env.*.local

# turbo
.turbo/

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
.vscode/
.idea/

# supabase
supabase/.branches/
supabase/.temp/
